

h2{
    font-family: Gill Sans, Gill Sans MT,'Calibri', Trebuchet MS, sans-serif;
    color: red;
}

ul{
    color:#333;
    font-family: Arial;
}

.prato{
    width: 710px;
    height: 400px;
    background-image: url('../Imagens/ratatuille.jpg');
    background-repeat: no-repeat;
    background-position: center top;
}

ol{
    color: #333;
    font-family: Arial;
}

